dbt-adapters==1.3.1
dbt-common==1.4.0
dbt-core==1.8.3
dbt-extractor==0.5.1
dbt-postgres==1.8.2
dbt-semantic-interfaces>=0.5.1
declxml==1.1.3
Faker==28.4.1
filelock==3.15.4
idna==3.7
psycopg2-binary==2.9.9
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
pylint==3.2.5
pyspark==3.5.1
pytest==8.2.2
python-dotenv==1.0.1
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
sqlfluff==3.0.7
toml==0.10.2
urllib3==2.2.2
virtualenv==20.26.3
